.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #4caf50;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 100px;
  font-family: "Sigmar-Regular";
  font-size: 36px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git-icon {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
}

.label {
  display: inline-block;
  width: 120px;
}

.job-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-details-input-container {
  display: flex;
  flex-direction: column;
}
.add-details-icon {
  position: relative;
  top: 3px;
  left: 9px;
}

.datePicker {
  width: 180px !important;
}

.school-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.school-details-input-container {
  display: flex;
  flex-direction: column;
}

.other-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.other-details-input-container {
  display: flex;
  flex-direction: column;
}

input {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-label {
  font-weight: 700;
}
.category-label-box {
  margin-bottom: 15px;
}
.category-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.end-date-checkbox {
  width: 20px;
  position: relative;
  top: 2px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.end-date-container {
  display: grid;
  grid-template-columns: 46% 64%;
}
.details-container {
  padding: 10px 0px;
}
.details-container:not(:nth-child(2)) {
  border-top: 1px solid #ccc;
}

.button-add {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

/* Preview Container CSS */

.preview-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 40px;
  gap: 10px;
}

.preview-box {
  border: 1px solid #ccc;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.preview-name {
  font-size: 36px;
}

.preview-contactInformations {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.preview-label {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
}

.preview-school {
  display: flex;
  justify-content: space-between;
}

ul {
  margin-top: 5px;
}

.preview-work {
  display: flex;
  justify-content: space-between;
}

.preview-work-company,
.preview-education-school {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0px;
}

.preview-work-position {
  font-style: italic;
  margin-bottom: 10px;
}
